<div class="container-fluid pt-5 pb-5 mt-5 text-white bg-dark">
    <div class="row">

        <div class="col-sm-4 align-self-center text-center mb-5">

            <a href="#"><fa name="trademark" size="4x" style="color: blue;" class="p-2"></fa></a>

        </div>

        <div class="col-sm-3 align-self-center mb-5">

            <h3 class="text-center">Menu</h3>

            <div class="list-group text-center">
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary selected">Início</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Clientes e Orçamento</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Funcionalidades</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Suporte</a>
            </div>

        </div>

        <div class="col-sm-4 text-center mb-5">

            <h3>Social</h3>

            <div class="btn-group-vertical btn-block btn-group-lg" role="group">
            <a class="btn btn-outline-primary" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
            <a class="btn btn-outline-info" href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a>
            <a class="btn btn-outline-warning" href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </div>

        </div>
    </div>
</div>