<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink=""><fa name="trademark" size="2x" style="color: blue;" class="p-2"></fa></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link ml-lg-2" routerLink="">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ml-md-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Orçamentos e Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="orcamentos-clientes">Cadastrar Orçamento<fa name="file-text-o" class="ml-3"></fa></a>
          <a class="dropdown-item" href="#" routerLink="visualizar-clientes">Visualizar Clientes<fa name="info-circle" class="ml-3"></fa></a>
          <a class="dropdown-item" href="#" routerLink="visualizar-orcamentos">Visualizar Orçamentos<fa name="info-circle" class="ml-3"></fa></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ml-md-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Suporte <fa name="question-circle" class="ml-2"></fa>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Funcionalidades<fa name="book" class="ml-3"></fa></a>
          <a class="dropdown-item" href="#">Sobre o Sistema<fa name="info-circle" class="ml-3"></fa></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Entre em contato <fa name="envelope" class="ml-2"></fa></a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="O que você procura?" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>
