<img src="../../assets/working.jpg" alt="" class="img-fluid mt-5">

<div class="text-center bg-dark text-light p-1 p-sm-4 align-self-center" id="body-text">
    <h2>Bem-vindo!</h2>
    <p class="lead">Sinta-se à vontade para utilizar as ferramentas certas que te ajudam com a empresa</p>
</div>

<div class="container pt-5 mt-5 pb-5">
    <div class="row">
        <div class="col-md-6 text-justify">
            <h1 class="text-center text-uppercase font-weight-bold mb-3">Funcionalidade A</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique ipsum sed urna accumsan convallis. Donec imperdiet at massa nec porta. Phasellus fringilla quam eget feugiat dignissim. Donec cursus maximus felis feugiat rhoncus. Nam eu nisi urna. Etiam nec lacinia lacus. Aliquam sit amet finibus lacus. Pellentesque ultricies massa risus. Quisque sagittis justo at sapien aliquet fringilla. Aliquam nec augue hendrerit, interdum massa eu, facilisis augue. Nam nec facilisis dui. Nulla risus sapien, mattis ut odio eu, ultricies ornare ipsum. Proin at mauris nec eros commodo commodo eu at odio. Sed hendrerit varius suscipit.</p>
        </div>
        <div class="col-md-6 align-self-center text-center p-5">
            <fa name="file-image-o" size="5x" style="color: blue"></fa>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 align-self-center text-center p-5 	d-none d-md-block">
            <fa name="file-image-o" size="5x" style="color: blue"></fa>
        </div>
        <div class="col-md-6 text-justify">
            <h1 class="text-center text-uppercase font-weight-bold mb-3">Funcionalidade B</h1>
            <p>Nulla efficitur nisi quis ante volutpat porttitor. Vivamus nunc massa, gravida quis nunc ut, luctus pharetra neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus lobortis libero et consequat eleifend. Integer iaculis aliquam dolor et congue. Etiam finibus enim magna, eget suscipit nisl rhoncus a. Integer blandit ante quis orci viverra tincidunt. Nunc rutrum pulvinar purus sit amet dictum. Etiam a cursus nibh, eget pharetra enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
    </div>
</div>